body {
  background: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 2rem 1rem;
}

.accordion-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 10rem auto 3rem;
  padding: 0 1rem;
  gap: 6rem;
}

.accordion {
  background-color: #111;
  border: 1px solid #00c66e;
  border-radius: 10px;
  width: 25rem;
  overflow: hidden;
}

.accordion-header {
  background-color: #1a1a1a;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;
}

.accordion-header:hover {
  background-color: #1e1e2f;
}

.accordion-header .arrow {
  transition: transform 0.3s ease;
}

.accordion-header.active .arrow {
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  background-color: #000;
  transition: max-height 0.4s ease;
  padding: 0 1rem;
}

.accordion-content ul {
  list-style: none;
  padding: 1rem 0;
  margin: 0;
}

.accordion-content li {
  padding: 0.5rem 0;
  color: #d1d5db;
  border-bottom: 1px solid #333;
}

.duration {
  font-weight: normal;
  font-size: 0.9rem;
  margin-left: auto;
}
