{% extends "base.html" %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
{% endblock %}

{% block content %}
<section class="about-container about-body">
  <div class="about-image">
    <img src="{{ url_for('static', filename='img/liza.jpg') }}" alt="Liza Tinku" />
  </div>
  <div class="about-info">
    <h1>I’m <span class="highlight">Liza Tinku</span>, a Full Stack Developer</h1>
    <p>
      This summer, I'm doing the Meta and MLH Fellowship and also interning in a med-tech startup.
      I love working across the stack and turning fuzzy ideas into powerful digital experiences.
    </p>
    <p>
      I'm passionate about Python, Reactjs, Nextjs, Supabase/Firebase and building and shipping fast.
      When I'm not coding, you’ll find me at the gym or grabbing froyo or making palak paneer.
    </p>
  </div>
</section>
{% endblock %}
